@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');

*{
  margin: 0;
  padding: 0;
  color: #fff;
  background: #404040;
  font-family: 'Rubik', sans-serif;
}

html{
  scroll-behavior: smooth;
  
  -webkit-user-select: none;
  -ms-user-select: none;
	user-select: none;
}

.splashscreen{
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
}
.splashscreen img{
  height: 50px;
}

.effect-shine {
  font-size: calc(15vw + 5px);
  -webkit-mask-image: linear-gradient(-75deg, rgba(0,0,0,.6) 30%, #000 50%, rgba(0,0,0,.6) 70%);
  -webkit-mask-size: 200%;
  animation: shine 2s infinite;
}

@-webkit-keyframes shine {
  from {-webkit-mask-position: 150%;}
  to {-webkit-mask-position: -50%;}
}